In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
cities = pd.read_csv('cities_v2.csv',encoding='iso-8859-1')

In [19]:
cities.head(10)

          City   Country    Year  Population
0        Sofia  Bulgaria  1950.0    520000.0
1     Mandalay   Myanmar  1950.0    170000.0
2  Nay Pyi Taw   Myanmar  1950.0         0.0
3       Yangon   Myanmar  1950.0   1300000.0
4        Minsk   Belarus  1950.0    280000.0
5  Phnum PÂnh  Cambodia  1950.0    360000.0
6  El DjazaÂr   Algeria  1950.0    520000.0
7       Wahran   Algeria  1950.0    270000.0
8       Douala  Cameroon  1950.0    100000.0
9     YaoundÂ  Cameroon  1950.0     30000.0

In [20]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10030 entries, 0 to 10029
Data columns (total 4 columns):
City          10030 non-null object
Country       10030 non-null object
Year          10030 non-null float64
Population    10030 non-null float64
dtypes: float64(2), object(2)
memory usage: 313.5+ KB

In [21]:
cities['Year'].unique()

array([ 1950.,  1955.,  1960.,  1965.,  1970.,  1975.,  1980.,  1985.,
        1990.,  1995.,  2000.,  2005.,  2010.,  2015.,  2020.,  2025.,
        2050.])

In [59]:
cities['Country'].unique()

array(['Bulgaria', 'Myanmar', 'Belarus', 'Cambodia', 'Algeria', 'Cameroon',
       'Canada', 'Chad', 'Chile', 'China', 'Colombia', 'Congo',
       'Democratic Republic of the Congo', 'Costa Rica', 'Cuba',
       'Czech Republic', 'Benin', 'Denmark', 'Dominican Republic',
       'Ecuador', 'El Salvador', 'Ethiopia', 'Angola', 'Finland', 'France',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Azerbaijan', 'Argentina',
       'Guatemala', 'Guinea', 'Haiti', 'Honduras',
       'China, Hong Kong Special Administrative Region', 'Hungary',
       'India', 'Australia', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', "CÂ\x99te d'Ivoire", 'Japan',
       'Kazakhstan', 'Afghanistan', 'Austria', 'Jordan', 'Kenya',
       "Democratic People's Republic of Korea", 'Republic of Korea',
       'Kuwait', 'Kyrgyzstan', 'Lebanon', 'Liberia',
       'Libyan Arab Jamahiriya', 'Madagascar', 'Malaysia', 'Mali',
       'Mexico', 'Mongolia', 'Bangladesh', 'Morocco', 'Mozambique',
       'Armenia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Belgium', 'Niger', 'Nigeria', 'Norway', 'Pakistan', 'Panama',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Romania', 'Russian Federation', 'Rwanda', 'Bolivia',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore',
       'Viet Nam', 'Somalia', 'South Africa', 'Zimbabwe', 'Spain', 'Sudan',
       'Sweden', 'Switzerland', 'Brazil', 'Syrian Arab Republic',
       'Thailand', 'Togo', 'United Arab Emirates', 'Turkey', 'Uganda',
       'Ukraine', 'Egypt', 'United Kingdom', 'United Republic of Tanzania',
       'United States of America', 'Burkina Faso', 'Uruguay', 'Uzbekistan',
       'Venezuela (Bolivarian Republic of)', 'Yemen', 'Zambia'], dtype=object)

In [55]:
country = cities.groupby(['Country','Year']).sum()

In [63]:
country.loc['United Kingdom']['Population']

Year
1950.0    18750000.0
1955.0    18760000.0
1960.0    18780000.0
1965.0    18360000.0
1970.0    17910000.0
1975.0    17360000.0
1980.0    16890000.0
1985.0    16710000.0
1990.0    16610000.0
1995.0    16830000.0
2000.0    17110000.0
2005.0    17380000.0
2010.0    17460000.0
2015.0    17550000.0
2020.0    17620000.0
2025.0    17700000.0
2050.0    17743000.0
Name: Population, dtype: float64

In [51]:
country.index[1]

('Afghanistan', 1955.0)

In [83]:
cities[(cities['Country']=='United States of America') & (cities['Year'] == 2015)]

,City,Country,Year,Population
8194,Atlanta,United States of America,2015.0,4700000.0
8195,Austin,United States of America,2015.0,1220000.0
8196,Baltimore,United States of America,2015.0,2320000.0
8197,Boston,United States of America,2015.0,4600000.0
8198,Bridgeport-Stamford,United States of America,2015.0,1060000.0
8199,Buffalo,United States of America,2015.0,1050000.0
8200,Charlotte,United States of America,2015.0,1040000.0
8201,Chicago,United States of America,2015.0,9210000.0
8202,Cincinnati,United States of America,2015.0,1690000.0
8203,Cleveland,United States of America,2015.0,1940000.0
8204,"Columbus, Ohio",United States of America,2015.0,1310000.0
8205,Dallas-Fort Worth,United States of America,2015.0,4960000.0
8206,Dayton,United States of America,2015.0,800000.0
8207,Denver-Aurora,United States of America,2015.0,2400000.0
8208,Detroit,United States of America,2015.0,4200000.0
8209,El Paso,United States of America,2015.0,780000.0
8210,Hartford,United States of America,2015.0,940000.0
8211,Honolulu,United States of America,2015.0,810000.0
8212,Houston,United States of America,2015.0,4610000.0
8213,Indianapolis,United States of America,2015.0,1490000.0
8214,"Jacksonville, Florida",United States of America,2015.0,1020000.0
8215,Kansas City,United States of America,2015.0,1510000.0
8216,Las Vegas,United States of America,2015.0,1920000.0
8217,Los Angeles-Long Beach-Santa Ana,United States of America,2015.0,12770000.0
8218,Louisville,United States of America,2015.0,980000.0
8219,Memphis,United States of America,2015.0,1120000.0
8220,Miami,United States of America,2015.0,5760000.0
8221,Milwaukee,United States of America,2015.0,1430000.0
8222,Minneapolis-St. Paul,United States of America,2015.0,2700000.0
8223,Nashville-Davidson,United States of America,2015.0,910000.0
8224,New Orleans,United States of America,2015.0,980000.0
8225,New York-Newark,United States of America,2015.0,19440000.0
8226,Oklahoma City,United States of America,2015.0,810000.0
8227,Orlando,United States of America,2015.0,1400000.0
8228,Philadelphia,United States of America,2015.0,5630000.0
8229,Phoenix-Mesa,United States of America,2015.0,3690000.0
8230,Pittsburgh,United States of America,2015.0,1890000.0
8231,Portland,United States of America,2015.0,1950000.0
8232,Providence,United States of America,2015.0,1320000.0
8233,Richmond,United States of America,2015.0,940000.0
8234,Riverside-San Bernardino,United States of America,2015.0,1810000.0
8235,Rochester,United States of America,2015.0,780000.0
8236,Sacramento,United States of America,2015.0,1660000.0
8237,Salt Lake City,United States of America,2015.0,1000000.0
8238,San Antonio,United States of America,2015.0,1520000.0
8239,San Diego,United States of America,2015.0,3000000.0
8240,San Francisco-Oakland,United States of America,2015.0,3540000.0
8241,San Jose,United States of America,2015.0,1720000.0
8242,Seattle,United States of America,2015.0,3170000.0
8243,St. Louis,United States of America,2015.0,2260000.0
8244,Tampa-St. Petersburg,United States of America,2015.0,2390000.0
8245,Tucson,United States of America,2015.0,850000.0
8246,Virginia Beach,United States of America,2015.0,1540000.0
8247,"Washington, D.C.",United States of America,2015.0,4460000.0

In [38]:
import plotly
from plotly.graph_objs import Scatter, Layout
plotly.offline.init_notebook_mode(connected=True)

In [84]:
plotly.offline.iplot({
    "data": [Scatter(x=cities['Year'].unique(), y=country.loc['United Kingdom']['Population']),
            Scatter(x=cities['Year'].unique(), y=country.loc['United States of America']['Population'])],
    "layout": Layout(title="test")
    })